*.gz
*.swp
*.diff
.project
.settings/
node_modules/
npm-debug.log
*.#*
*#*
*~
assets/vendor/angular-bootstrap-colorpicker/.bower.json
assets/vendor/angular-bootstrap-colorpicker/.gitignore
assets/vendor/angular-bootstrap-colorpicker/.jshintrc
assets/vendor/angular-bootstrap-colorpicker/CHANGELOG.md
assets/vendor/angular-bootstrap-colorpicker/MIT-LICENSE.txt
assets/vendor/angular-bootstrap-colorpicker/README.md
assets/vendor/angular-bootstrap-colorpicker/bower.json
assets/vendor/angular-bootstrap-colorpicker/css/colorpicker.css
assets/vendor/angular-bootstrap-colorpicker/gulpfile.js
assets/vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js
assets/vendor/angular-bootstrap-colorpicker/less/
assets/vendor/angular-bootstrap-colorpicker/package.json
assets/vendor/angular-route/.bower.json
assets/vendor/angular-route/README.md
assets/vendor/angular-route/angular-route.js
assets/vendor/angular-route/angular-route.min.js.map
assets/vendor/angular-route/bower.json
assets/vendor/angular-route/index.js
assets/vendor/angular-route/package.json
assets/vendor/angular/.bower.json
assets/vendor/angular/README.md
assets/vendor/angular/angular-csp.css
assets/vendor/angular/angular.js
assets/vendor/angular/angular.min.js.gzip
assets/vendor/angular/angular.min.js.map
assets/vendor/angular/bower.json
assets/vendor/angular/index.js
assets/vendor/angular/package.json
assets/vendor/bootstrap/.bower.json
assets/vendor/bootstrap/Gruntfile.js
assets/vendor/bootstrap/LICENSE
assets/vendor/bootstrap/README.md
assets/vendor/bootstrap/bower.json
assets/vendor/bootstrap/dist/css/bootstrap-theme.css
assets/vendor/bootstrap/dist/css/bootstrap-theme.css.map
assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css
assets/vendor/bootstrap/dist/css/bootstrap.css
assets/vendor/bootstrap/dist/css/bootstrap.css.map
assets/vendor/bootstrap/dist/fonts/
assets/vendor/bootstrap/dist/js/bootstrap.js
assets/vendor/bootstrap/dist/js/npm.js
assets/vendor/bootstrap/fonts/
assets/vendor/bootstrap/grunt/
assets/vendor/bootstrap/js/
assets/vendor/bootstrap/less/
assets/vendor/bootstrap/package.js
assets/vendor/bootstrap/package.json
assets/vendor/fontawesome/
assets/vendor/jquery/.bower.json
assets/vendor/jquery/MIT-LICENSE.txt
assets/vendor/jquery/bower.json
assets/vendor/jquery/dist/jquery.js
assets/vendor/jquery/dist/jquery.min.map
assets/vendor/jquery/src/
